:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.9rem;
    --font-size-h3: 1rem;
    --main-color: #54616F;
    --background-color: #EBE3D4;
}

html {
    font-size: 14px;
    margin: 0;
}

header {
    font-family: "Jacques Francois Shadow", serif;
    font-weight: 400;
    color: var(--main-color);
    border-bottom: 6px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: "Avenir Next", sans-serif;
    color: var(--main-color);
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    columns: 3 8 3;
    margin-bottom: 30px;
}

footer {
    height: 80px;
    background-color: var(--main-color);
    text-align: center;
    justify-content: center;
    display: flex;
}

a {
    color: var(--background-color);
    text-decoration: none;
}

a:visited {
    color: var(--background-color);
}

h1 {
    font-size: var(--font-size-h1);
    margin: 10px;
}

h2 {
    font-size: var(--font-size-h2);
    margin: 0;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2px;
    font-weight: 400;
}

.image {
    transition-property: transform, box-shadow;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    width: 200px;
    height: 200px;
}

.image:hover, h2:hover {
    transform: scale(1.1);
}

.image:active, h2:active {
    transform: scale(0.9);
}

.weatherDisplay {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.weatherNow {
    font-size: var(--font-size-h1);
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img {
    height: 130px;
    width: 105px;
}

.card-wrapper {
    border-radius: 23px;
    border: 4px solid var(--main-color);
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.date {
    font-size: var(--font-size-h3);
    font-weight: 400;
    margin-bottom: 10px;
}

.temperature {
    font-size: var(--font-size-h3);
    font-weight: 700;
    margin-bottom: 10px;
}

.leftRow {
    margin-left: 120px;
}

.rightRow {
    margin-right: 120px;
}

.leftRow,
.rightRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lowerContainer {
    display: flex;
    gap: 8vw;
    margin-bottom: 40px;
}

.smallImg {
    width: 90px;
    height: 90px;
}

.temp,
.rain,
.wind {
    font-size: 1.7rem;
}

.title {
    font-size: var(--font-size-h1);
    text-align: center;
    margin-bottom: 60px;

}

.thermometer {
    width: 20px;
    height: 180px;
    border: 4px solid var(--main-color);
    border-radius: 15px;
    position: relative;
    margin: 20px;
}

.thermometer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--main-color);
    bottom: 25%; /* Adjust this value to position the 0 line */
    z-index: 99;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 15px;
    background: linear-gradient(to top, #AFD1DC, #D48888);
    transition: height 0.5s ease;
}

.currentWeatherLeft,
.currentWeatherRight {
    text-align: center;
    align-content: center;
}

.snowflake {
    position: fixed;
    background: url('/images/Schneeflocke.PNG') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    will-change: transform;
    top: 0;
    animation: fall linear infinite;
    z-index: 9999;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

main {
    display: grid;
    grid-template-areas:
        "leftRow rightRow"
        "weatherDisplay weatherDisplay";
}

@media(max-width: 650px) {
    html {
        font-size: 18px;
    }

    .leftRow {
        margin-left: 60px;
    }

    .rightRow {
        margin-right: 60px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

@media(min-width: 1200px) {
    html {
        font-size: 20px;
    }

    main {
        grid-template-areas:
            "leftRow weatherDisplay rightRow";
    }

    .leftRow {
        margin-left: 80px;
    }

    .rightRow {
        margin-right: 80px;
    }
}